@import "../../assets/scss/base.scss";
.header {
    position: fixed;
    background: var(--bg);
    transition: background 0.4s ease;
    z-index: 100;
    box-shadow: 0 3px var(--primary);
    .nav {
        height: 10rem;
        // background: orangered;
        width: 107rem;
        margin: 0 auto;
        display: flex;

        .navItems {
            width: 100%;
            display: flex;
            align-items: center;
            .sun {
                height: 5rem;
                cursor: pointer;
            }
            .od {
                margin-right: auto;
            }
            // .sun {
            // }
            a {
                font-size: var(--fontSizeMedium);
                margin-right: 15rem;
                color: var(--text);
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }
}

.span {
    height: 40px;
    width: 2px;
    background: var(--primary);
    position: absolute;
    top: -50px;
    left: 50%;
}
