.layout {
  max-width: 1234px;
  display: grid;
  grid-template-columns: 10rem repeat(4, minmax(4rem, 1fr)) 10rem;
  grid-template-rows: repeat(2, min-content) repeat(3, max-content);
  margin: 0 auto;
  grid-row-gap: 1rem;
}

// 1020
// 850
// 780
// 640
