.social {
    position: fixed;
    top: 55%;
    left: 2rem;
    animation: show 1s ease forwards;
    // transform: translate(0, -50%);

    @media (max-width: 1020px) {
        top: 72%;
    }
    @media (max-width: 640px) {
        display: none;
    }
}

// hide
.socialMedia {
    opacity: 0;
    position: fixed;
    top: 55%;
    left: 2rem;
    pointer-events: none;
    animation: hide 1s ease forwards;
    @media (max-width: 1020px) {
        top: 72%;
    }
    @media (max-width: 640px) {
        display: none;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
