*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px osv...
}
body {
  // font-family
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  background: var(--bg);
  transition: background 0.4s ease;
}
body[data-theme='light'] {
  --primary: #b15050;
  --primaryBg: 177, 80, 80;
  --primaryHover: #893c3c;
  --bg: #e6e1ff;
  --text: #000000;
  --who: rgba(0, 0, 0, 0.03);
  --aboutSection: #b15050;
  --whoAmItext: rgba(0, 0, 0, 0.027);
  --textLight: #f2f2f2;
  --linearBg: rgba(255, 255, 255, 0.6);
}

body[data-theme='dark'] {
  --primary: #9474c4;
  --primaryBg: 148, 116, 196;
  --primaryHover: #775ca0;
  --bg: rgb(17, 24, 39);
  --text: #f5f5f5;
  --who: rgba(251, 251, 251, 0.03);
  --whoAmItext: rgba(251, 251, 251, 3%);
  --aboutSection: #1d1d1d;
  --linearBg: rgba(0, 0, 0, 0.6);
}
