:root {
    // Dark mode
    --primaryDark: #9474c4;
    --primaryDarkHover: #775ca0;
    --primaryLight: #b15050;
    --primaryLightHover: #893c3c;
    --bgDark: #121212;
    --bgLight: #f2f2f2;
    --textDark: #f5f5f5;
    --textLight: #575050;
    --whoDark: rgba(251, 251, 251, 0.03);
    --whoLight: rgba(0, 0, 0, 0.03);
    --aboutSectionDark: #1d1d1d;
    --aboutSectionLight: #b15050;
    --whoAmItextLight: rgba(0, 0, 0, 0.085);
    --whoAmItextDark: rgba(251, 251, 251, 3%);

    --textLightLighter: #f2f2f2;

    // Font variables
    --fontSizeBig: 2.5rem;
    --fontSizeMedium: 1.7rem;
    --fontSizeSmall: 1.4rem;
    // margin variables

    // padding variables

    // breakpoints
    --extraLarge: 65rem;
    --largeMax: 64rem;
    --largMin: 57rem;
    --mediumMax: 56rem;
    --mediumMin: 41rem;
    --smallScreen: 40rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px osv...
}
body {
    // font-family
    font-family: "Rubik", "Roboto Mono", sans-serif;
    background: var(--bg);
    transition: background 0.4s ease;
}

.darkMode {
    --primary: var(--primaryDark);
    --primaryHover: var(--primaryDarkHover);
    --text: var(--textDark);
    --textHeader: var(--textLightLighter);
    --bg: var(--bgDark);
    --navArrow: var(--primaryDark);
    --img: var(--aboutSectionDark);
    --aboutText: var(--whoAmItextDark);
}

.lightMode {
    --primary: var(--primaryLight);
    --primaryHover: var(--primaryLightHover);
    --text: var(--textLight);
    --textHeader: var(--textLightLighter);
    --bg: var(--bgLight);
    --navArrow: var(--primaryLight);
    --img: var(--aboutSectionLight);
    --aboutText: var(--whoAmItextLight);
}
