// Font variables

// color variables
$primary: green;

// margin variables

// padding variables

:root {
    --primary: #{$primary};
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px osv...
}
body {
    // font-family
    font-family: "Rubik", "Roboto Mono", sans-serif;
}
