.left,
.right {
    width: 5rem;
    cursor: pointer;

    cursor: pointer;
    margin-bottom: 2rem;
    fill: var(--text);
}
.left {
    margin-right: 2rem;
    @media (max-width: 1020px) {
        margin-right: 5rem;
    }
}
